.card-blog-post,
.card-blog-post * {
  box-sizing: border-box;
}
.card-blog-post {
  background: #ffffff;
  padding: var(--space-3, 12px) var(--space-4, 16px) var(--space-3, 12px)
    var(--space-4, 16px);
  display: flex;
  flex-direction: column;
  gap: var(--container-padding-x, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 1920px;
  position: relative;
}
.card-top {
  display: flex;
  flex-direction: column;
  gap: var(--space-1, 4px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--heading, #1b1464);
  text-align: left;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 21px;
  line-height: 30.5px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
}
.date-and-author {
  color: var(--heading, #1b1464);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.content-area {
  padding: var(--space-0, 0px) 0px var(--space-5, 20px) 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-turpis-egestas-integer-eget-aliquet-nibh-praesent-tristique-fermentum-posuere-urna-nec-tincidunt-mi-sit-amet-mauris-commodo-quis-imperdiet-massa-ultricies-mi-quis-hendrerit-dolor-magna-tempus-egestas-sed-read-more {
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-turpis-egestas-integer-eget-aliquet-nibh-praesent-tristique-fermentum-posuere-urna-nec-tincidunt-mi-sit-amet-mauris-commodo-quis-imperdiet-massa-ultricies-mi-quis-hendrerit-dolor-magna-tempus-egestas-sed-read-more-span {
  color: var(--body, #51585e);
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-turpis-egestas-integer-eget-aliquet-nibh-praesent-tristique-fermentum-posuere-urna-nec-tincidunt-mi-sit-amet-mauris-commodo-quis-imperdiet-massa-ultricies-mi-quis-hendrerit-dolor-magna-tempus-egestas-sed-read-more-span2 {
  color: var(--feedback-info, #1d50de);
}
/* variant styles */
.card-blog-post:hover,
.card-blog-post.state-hover {
  background: var(--50, #faf5e6);
  gap: var(--space-4, 16px);
  box-shadow: var(
    --shadow-subtle-box-shadow,
    4px 4px 12px 0px rgba(0, 0, 0, 0.1)
  );
}
.card-blog-post:hover .title,
.card-blog-post.state-hover .title {
  color: var(--dark, #51585e);
}
.card-blog-post:hover .date-and-author,
.card-blog-post.state-hover .date-and-author {
  color: var(--body, #51585e);
}
.card-blog-post:hover .content-area,
.card-blog-post.state-hover .content-area,
.card-blog-post.state-active .content-area,
.card-blog-post.break-point-desktop.state-disabled .content-area,
.card-blog-post.break-point-tablet.state-default .content-area,
.card-blog-post.break-point-mobile.state-default .content-area,
.card-blog-post.break-point-mobile.state-disabled .content-area {
  padding: 0px 0px var(--space-5, 20px) 0px;
}
.card-blog-post.break-point-desktop:hover .paragraph-text-18-27-h,
.card-blog-post.break-point-desktop .paragraph-text-18-27-h,
.card-blog-post.break-point-tablet .paragraph-text-18-27-h,
.card-blog-post.break-point-mobile .paragraph-text-18-27-h {
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.card-blog-post.state-active {
  background: var(--primary, #ffffff);
  gap: var(--space-4, 16px);
  box-shadow: var(
    --shadow-subtle-box-shadow,
    4px 4px 12px 0px rgba(0, 0, 0, 0.1)
  );
}
.card-blog-post.state-disabled {
  background: var(--secondary, #eceeef);
  gap: var(--space-4, 16px);
}
.card-blog-post.state-disabled .title {
  color: var(--muted, #c7cbcf);
}
.card-blog-post.break-point-desktop.state-disabled .title {
  line-height: 31.5px;
}
.card-blog-post.state-disabled .date-and-author,
.card-blog-post.state-disabled
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-turpis-egestas-integer-eget-aliquet-nibh-praesent-tristique-fermentum-posuere-urna-nec-tincidunt-mi-sit-amet-mauris-commodo-quis-imperdiet-massa-ultricies-mi-quis-hendrerit-dolor-magna-tempus-egestas-sed-read-more {
  color: var(--disabled, #a2a9af);
}
.card-blog-post.break-point-tablet {
  max-width: 1149px;
}
.card-blog-post.break-point-tablet.state-default,
.card-blog-post.break-point-mobile.state-default {
  gap: var(--space-4, 16px);
}
.card-blog-post.break-point-tablet .title {
  font-size: 18px;
  line-height: 27px;
}
.card-blog-post.break-point-tablet.state-disabled .content-area {
  padding: unset;
}
.card-blog-post.break-point-tablet .form-text-18-18-h {
  color: var(--disabled, #a2a9af);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  position: relative;
  width: 1117px;
}
.card-blog-post.break-point-mobile {
  min-width: 380px;
  max-width: 767px;
}
.card-blog-post.break-point-mobile .title {
  font-size: 16px;
  line-height: 24px;
}
.card-blog-post.break-point-mobile .date-and-author {
  flex: 1;
}
.card-blog-post.break-point-mobile .form-text-18-18-h {
  color: var(--disabled, #a2a9af);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  position: relative;
  width: 735px;
}
