.break-point-mobile-open-state-closed-current-sections-default,
.break-point-mobile-open-state-closed-current-sections-default * {
  box-sizing: border-box;
}
.break-point-mobile-open-state-closed-current-sections-default {
  background: var(--secondary, #eceeef);
  border-style: solid;
  border-color: var(--accent, #d4af37);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: var(--space-0, 0px);
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  min-width: 380px;
  max-width: 768px;
  position: relative;
  box-shadow: var(
    --shadow-subtle-box-shadow,
    4px 4px 12px 0px rgba(0, 0, 0, 0.1)
  );
  overflow: hidden;
}
.solutions-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.scrolling-list {
  padding: var(--space-3, 12px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.navigation {
  background: var(--50, #faf5e6);
  border-radius: var(--space-2, 8px);
  padding: var(--space-3, 12px) var(--space-4, 16px) var(--space-3, 12px)
    var(--space-4, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.h-6 {
  color: var(--heading, #1b1464);
  text-align: left;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.start {
  background: var(--50, #faf5e6);
  border-radius: var(--space-2, 8px);
  padding: var(--space-3, 12px) var(--space-4, 16px) var(--space-3, 12px)
    var(--space-4, 16px);
  display: flex;
  flex-direction: row;
  gap: var(--space-0, 0px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.navigation2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.headline {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.menu {
  background: var(--50, #faf5e6);
  border-radius: var(--space-2, 8px);
  padding: var(--space-0, 0px) var(--space-3, 12px) var(--space-0, 0px)
    var(--space-3, 12px);
  display: flex;
  flex-direction: column;
  gap: var(--space-0, 0px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.buttons-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: var(--space-0, 0px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: relative;
  overflow: visible;
}
