<!-- Headline Component -->
<!-- Purpose: Primary heading typography system for page and section titles (H1-H6) -->
<!-- Node ID: 1425:1182 -->

<!-- H1 Variants -->
<h1 class="headline h1 default uppercase">H1 HEADLINE 36 54H</h1>
<h1 class="headline h1 default">H1 Headline 36 54h</h1>
<h1 class="headline h1 reverse uppercase">H1 HEADLINE 36 54H</h1>
<h1 class="headline h1 reverse">H1 Headline 36 54h</h1>
<h1 class="headline h1 dark uppercase">H1 HEADLINE 36 54H</h1>
<h1 class="headline h1 dark">H1 Headline 36 54h</h1>
<h1 class="headline h1 gray uppercase">H1 HEADLINE 36 54H</h1>
<h1 class="headline h1 gray">H1 Headline 36 54h</h1>

<!-- H2 Variants -->
<h2 class="headline h2 default uppercase">H2 HEADLINE 30 45H</h2>
<h2 class="headline h2 default">H2 Headline 30 45h</h2>
<h2 class="headline h2 reverse uppercase">H2 HEADLINE 30 45H</h2>
<h2 class="headline h2 reverse">H2 Headline 30 45h</h2>
<h2 class="headline h2 dark uppercase">H2 HEADLINE 30 45H</h2>
<h2 class="headline h2 dark">H2 Headline 30 45h</h2>
<h2 class="headline h2 gray uppercase">H2 HEADLINE 30 45H</h2>
<h2 class="headline h2 gray">H2 Headline 30 45h</h2>

<!-- H3 Variants -->
<h3 class="headline h3 default uppercase">H3 HEADLINE 24 36H</h3>
<h3 class="headline h3 default">H3 Headline 24 36h</h3>
<h3 class="headline h3 reverse uppercase">H3 HEADLINE 24 36H</h3>
<h3 class="headline h3 reverse">H3 Headline 24 36h</h3>
<h3 class="headline h3 dark uppercase">H3 HEADLINE 24 36H</h3>
<h3 class="headline h3 dark">H3 Headline 24 36h</h3>
<h3 class="headline h3 gray uppercase">H3 HEADLINE 24 36H</h3>
<h3 class="headline h3 gray">H3 Headline 24 36h</h3>

<!-- H4 Variants -->
<h4 class="headline h4 default uppercase">H4 HEADLINE 21 31.5H</h4>
<h4 class="headline h4 default">H4 Headline 21 31.5h</h4>
<h4 class="headline h4 reverse uppercase">H4 HEADLINE 21 31.5H</h4>
<h4 class="headline h4 reverse">H4 Headline 21 31.5h</h4>
<h4 class="headline h4 dark uppercase">H4 HEADLINE 21 31.5H</h4>
<h4 class="headline h4 dark">H4 Headline 21 31.5h</h4>
<h4 class="headline h4 gray uppercase">H4 HEADLINE 21 31.5H</h4>
<h4 class="headline h4 gray">H4 Headline 21 31.5h</h4>

<!-- H5 Variants -->
<h5 class="headline h5 default uppercase">H5 HEADLINE 18 27H</h5>
<h5 class="headline h5 default">H5 Headline 18 27h</h5>
<h5 class="headline h5 reverse uppercase">H5 HEADLINE 18 27H</h5>
<h5 class="headline h5 reverse">H5 Headline 18 27h</h5>
<h5 class="headline h5 dark uppercase">H5 HEADLINE 18 27H</h5>
<h5 class="headline h5 dark">H5 Headline 18 27h</h5>
<h5 class="headline h5 gray uppercase">H5 HEADLINE 18 27H</h5>
<h5 class="headline h5 gray">H5 Headline 18 27h</h5>

<!-- H6 Variants -->
<h6 class="headline h6 default uppercase">H6 HEADLINE 16 24H</h6>
<h6 class="headline h6 default">H6 Headline 16 24h</h6>
<h6 class="headline h6 reverse uppercase">H6 HEADLINE 16 24H</h6>
<h6 class="headline h6 reverse">H6 Headline 16 24h</h6>
<h6 class="headline h6 dark uppercase">H6 HEADLINE 16 24H</h6>
<h6 class="headline h6 dark">H6 Headline 16 24h</h6>
<h6 class="headline h6 gray uppercase">H6 HEADLINE 16 24H</h6>
<h6 class="headline h6 gray">H6 Headline 16 24h</h6>
