.banner-header,
.banner-header * {
  box-sizing: border-box;
}
.banner-header {
  background: var(--brand, #1b1464);
  border-style: solid;
  border-color: var(--accent, #d4af37);
  border-width: 0px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: var(--space-0, 0px);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 125px;
  min-width: 1920px;
  position: relative;
}
._1920 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1900px;
  height: 125px;
  max-width: 1900px;
  position: relative;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1900px;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: var(--space-0, 0px);
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 481px;
  height: 93px;
  position: relative;
  overflow: visible;
  aspect-ratio: 481/93;
}
.menu {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.menu-top-level {
  background: var(--brand, #1b1464);
  display: flex;
  flex-direction: row;
  gap: var(--space-16, 64px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 886px;
  position: relative;
  overflow: hidden;
}
.home {
  display: flex;
  flex-direction: column;
  gap: var(--space-3, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.navigation {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.headline {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.h-1 {
  color: var(--menusimple, #ffffff);
  text-align: left;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.drop-down {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.solutions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.navigation2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.resources {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
/* variant styles */
.banner-header.break-point-desktop-plus.menu-state-home-hover,
.banner-header.menu-state-home-hover .home,
.banner-header.break-point-desktop-plus.menu-state-solutions-open,
.banner-header.menu-state-solutions-open .home,
.banner-header.break-point-desktop-plus.menu-state-resources-open,
.banner-header.menu-state-resources-open .home,
.banner-header.break-point-desktop-plus.menu-state-contact-hover,
.banner-header.menu-state-contact-hover .home,
.banner-header.break-point-desktop-plus.menu-state-home-active,
.banner-header.menu-state-home-active .home,
.banner-header.break-point-desktop-plus.menu-state-solutions-active,
.banner-header.menu-state-solutions-active .home,
.banner-header.break-point-desktop-plus.menu-state-resources-active,
.banner-header.menu-state-resources-active .home,
.banner-header.break-point-desktop-plus.menu-state-contact-active,
.banner-header.menu-state-contact-active .home,
.banner-header.break-point-desktop-plus.menu-state-lp-clean,
.banner-header.break-point-desktop-plus.menu-state-lp-cta,
.banner-header.break-point-desktop-plus.menu-state-lp-contact,
.banner-header.break-point-desk-top.menu-state-default .home,
.banner-header.menu-state-menu-hover .menu-list {
  gap: 10px;
}
.banner-header.menu-state-home-hover .h-1,
.banner-header.menu-state-solutions-open .h-12,
.banner-header.menu-state-resources-open .h-12,
.banner-header.menu-state-contact-hover .h-12,
.banner-header.menu-state-home-hover .h-2,
.banner-header.menu-state-solutions-open .h-22,
.banner-header.menu-state-resources-open .h-22,
.banner-header.menu-state-contact-hover .h-22 {
  color: var(--hoversimple, #dcbe5d);
}
.banner-header.break-point-desktop-plus .h-12 {
  text-align: left;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.banner-header.menu-state-home-hover .h-12,
.banner-header.menu-state-home-active .h-12,
.banner-header.menu-state-default .h-2,
.banner-header.menu-state-home-hover .h-22,
.banner-header.menu-state-solutions-open .h-2,
.banner-header.menu-state-resources-open .h-2,
.banner-header.menu-state-contact-hover .h-2,
.banner-header.menu-state-home-active .h-22,
.banner-header.menu-state-solutions-active .h-2,
.banner-header.menu-state-resources-active .h-2,
.banner-header.menu-state-contact-active .h-2 {
  color: var(--menusimple, #ffffff);
}
.banner-header.menu-state-solutions-open ._1920 {
  height: 124px;
}
.banner-header.menu-state-solutions-open .menu,
.banner-header.menu-state-resources-open .menu,
.banner-header.menu-state-resources-open .menu-top-level,
.banner-header.menu-state-solutions-active .menu,
.banner-header.menu-state-resources-active .menu,
.banner-header.break-point-tablet.menu-state-menu-active .menu {
  overflow: unset;
}
.banner-header.menu-state-solutions-open .menu-top-level,
.banner-header.menu-state-solutions-active .menu-top-level,
.banner-header.menu-state-resources-active .menu-top-level {
  width: unset;
  overflow: unset;
}
.banner-header.break-point-desktop-plus.menu-state-solutions-open
  .menu-top-level,
.banner-header.break-point-desktop-plus.menu-state-resources-open
  .menu-top-level,
.banner-header.break-point-desktop-plus.menu-state-contact-hover
  .menu-top-level,
.banner-header.break-point-desktop-plus.menu-state-home-active .menu-top-level,
.banner-header.break-point-desktop-plus.menu-state-solutions-active
  .menu-top-level,
.banner-header.break-point-desktop-plus.menu-state-resources-active
  .menu-top-level,
.banner-header.break-point-desktop-plus.menu-state-contact-active
  .menu-top-level {
  gap: 64px;
}
.banner-header.break-point-desktop-plus.menu-state-solutions-open .solutions {
  gap: 0px;
  align-self: stretch;
}
.banner-header.menu-state-contact-hover .menu-top-level,
.banner-header.menu-state-home-active .menu-top-level {
  width: unset;
}
.banner-header.break-point-desktop-plus.menu-state-contact-hover .solutions {
  width: 204px;
}
.banner-header.menu-state-home-active .h-1,
.banner-header.menu-state-solutions-active .h-12,
.banner-header.menu-state-resources-active .h-12,
.banner-header.menu-state-contact-active .h-12,
.banner-header.menu-state-home-active .h-2,
.banner-header.menu-state-solutions-active .h-22,
.banner-header.menu-state-resources-active .h-22,
.banner-header.menu-state-contact-active .h-22 {
  color: var(--activesimple, #b39226);
}
.banner-header.break-point-desktop-plus.menu-state-lp-clean .menu {
  height: 54px;
}
.banner-header.break-point-desktop-plus .buttons-button {
  background: var(--default, #d4af37);
  border-radius: 4px;
  padding: 16px 80px 16px 80px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.banner-header.break-point-desktop-plus .label,
.banner-header.break-point-desk-top .label {
  color: var(--heading, #1b1464);
  text-align: center;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.banner-header.menu-state-lp-contact .navigation {
  align-items: flex-end;
  align-self: unset;
}
.banner-header.break-point-desktop-plus .call-us {
  color: var(--accentsimple, #d4af37);
  text-align: left;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.banner-header.break-point-desk-top {
  justify-content: space-between;
  min-width: 1150px;
  max-width: 1919px;
  gap: unset;
  align-self: unset;
}
.banner-header.break-point-desk-top ._1150,
.banner-header.break-point-tablet ._1150 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 125px;
  position: relative;
}
.banner-header.break-point-desk-top .content {
  padding: 0px 36px 0px 24px;
  flex: 1;
  flex-shrink: unset;
  width: unset;
}
.banner-header.break-point-desk-top .logo {
  width: 460px;
  height: 89px;
}
.banner-header.break-point-desk-top.menu-state-default .logo,
.banner-header.break-point-desk-top.menu-state-home-hover .logo,
.banner-header.break-point-desk-top.menu-state-solutions-open .logo,
.banner-header.break-point-desk-top.menu-state-resources-open .logo,
.banner-header.break-point-desk-top.menu-state-contact-hover .logo,
.banner-header.break-point-desk-top.menu-state-home-active .logo,
.banner-header.break-point-desk-top.menu-state-solutions-active .logo,
.banner-header.break-point-desk-top.menu-state-resources-active .logo,
.banner-header.break-point-desk-top.menu-state-contact-active .logo,
.banner-header.break-point-desk-top.menu-state-lp-clean .logo,
.banner-header.break-point-desk-top.menu-state-lp-cta .logo {
  aspect-ratio: 460/89;
}
.banner-header.break-point-desk-top .menu {
  gap: 0px;
  min-width: 615px;
  padding: unset;
}
.banner-header.break-point-desk-top.menu-state-default .menu {
  max-width: 886px;
}
.banner-header.break-point-desk-top.menu-state-default .menu-top-level {
  justify-content: space-between;
  flex: 1;
  min-width: 615px;
  max-width: 886px;
  gap: unset;
  flex-shrink: unset;
  width: unset;
}
.banner-header.break-point-desk-top.menu-state-default .navigation,
.banner-header.break-point-desk-top.menu-state-home-hover .navigation,
.banner-header.break-point-desk-top.menu-state-solutions-open .navigation,
.banner-header.break-point-desk-top.menu-state-resources-open .navigation,
.banner-header.break-point-desk-top.menu-state-contact-hover .navigation,
.banner-header.break-point-desk-top.menu-state-home-active .navigation,
.banner-header.break-point-desk-top.menu-state-solutions-active .navigation,
.banner-header.break-point-desk-top.menu-state-resources-active .navigation,
.banner-header.break-point-desk-top.menu-state-contact-active .navigation {
  align-self: unset;
}
.banner-header.break-point-desk-top .h-2,
.banner-header.break-point-desk-top .h-22 {
  text-align: left;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.banner-header.break-point-desk-top.menu-state-home-hover,
.banner-header.break-point-desk-top.menu-state-solutions-open,
.banner-header.break-point-desk-top.menu-state-resources-open,
.banner-header.break-point-desk-top.menu-state-contact-hover,
.banner-header.break-point-desk-top.menu-state-home-active,
.banner-header.break-point-desk-top.menu-state-solutions-active,
.banner-header.break-point-desk-top.menu-state-resources-active,
.banner-header.break-point-desk-top.menu-state-contact-active,
.banner-header.break-point-desk-top.menu-state-lp-clean,
.banner-header.break-point-desk-top.menu-state-lp-cta,
.banner-header.break-point-desk-top.menu-state-lp-contact {
  width: 100%;
}
.banner-header.break-point-desk-top.menu-state-home-hover .menu,
.banner-header.break-point-desk-top.menu-state-solutions-open .menu,
.banner-header.break-point-desk-top.menu-state-resources-open .menu,
.banner-header.break-point-desk-top.menu-state-contact-hover .menu,
.banner-header.break-point-desk-top.menu-state-home-active .menu,
.banner-header.break-point-desk-top.menu-state-solutions-active .menu,
.banner-header.break-point-desk-top.menu-state-resources-active .menu,
.banner-header.break-point-desk-top.menu-state-contact-active .menu,
.banner-header.break-point-desk-top.menu-state-lp-cta .menu,
.banner-header.break-point-desk-top.menu-state-lp-contact .menu {
  flex-shrink: 0;
  width: 615px;
  flex: unset;
}
.banner-header.break-point-desk-top.menu-state-home-hover .menu-top-level,
.banner-header.break-point-desk-top.menu-state-resources-open .menu-top-level,
.banner-header.break-point-desk-top.menu-state-contact-active .menu-top-level {
  gap: 12px;
  justify-content: flex-end;
  width: unset;
}
.banner-header.break-point-desk-top .navigation2 {
  align-self: stretch;
}
.banner-header.break-point-desk-top.menu-state-solutions-open .menu-top-level,
.banner-header.break-point-desk-top.menu-state-contact-hover .menu-top-level,
.banner-header.break-point-desk-top.menu-state-home-active .menu-top-level,
.banner-header.break-point-desk-top.menu-state-solutions-active .menu-top-level,
.banner-header.break-point-desk-top.menu-state-resources-active
  .menu-top-level {
  gap: 12px;
  justify-content: flex-end;
}
.banner-header.break-point-desk-top.menu-state-lp-clean .menu {
  flex-shrink: 0;
  width: 615px;
  height: 45px;
  flex: unset;
}
.banner-header.break-point-desk-top .buttons-button {
  background: var(--default, #d4af37);
  border-radius: 4px;
  padding: 12px 64px 12px 64px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.banner-header.break-point-desk-top.menu-state-lp-contact .logo {
  aspect-ratio: unset;
}
.banner-header.break-point-desk-top .call-us {
  color: var(--accentsimple, #d4af37);
  text-align: left;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.banner-header.break-point-tablet {
  justify-content: space-between;
  width: 100%;
  max-width: 1149px;
  gap: unset;
  align-self: unset;
}
.banner-header.break-point-tablet.menu-state-default,
.banner-header.break-point-tablet.menu-state-menu-hover,
.banner-header.break-point-tablet.menu-state-menu-active {
  min-width: 768px;
}
.banner-header.break-point-tablet .content,
.banner-header.break-point-mobile .content {
  padding: 0px 24px 0px 24px;
  flex: 1;
  flex-shrink: unset;
  width: unset;
}
.banner-header.break-point-tablet .logo {
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  width: 289px;
  height: 62px;
  aspect-ratio: 289/62;
  overflow: unset;
}
.banner-header.break-point-tablet .purposeful-media-logo-white-tablet {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.banner-header.break-point-tablet .menu {
  gap: 0px;
  flex-shrink: 0;
  min-width: 615px;
  padding: unset;
  flex: unset;
}
.banner-header.break-point-tablet .menu-top-level,
.banner-header.break-point-mobile .menu-top-level {
  gap: 64px;
  width: unset;
}
.banner-header.break-point-tablet .menu2,
.banner-header.break-point-mobile .menu2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  position: relative;
}
.banner-header.menu-state-default .menu2,
.banner-header.break-point-mobile.menu-state-home-hover .menu2,
.banner-header.break-point-mobile.menu-state-menu-active .menu2,
.banner-header.break-point-mobile.menu-state-menu-hover .menu2 {
  align-items: center;
}
.banner-header.break-point-tablet .buttons-mobile-menu,
.banner-header.break-point-mobile .buttons-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: var(--space-5, 20px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.banner-header.break-point-tablet.menu-state-home-hover {
  min-width: 767px;
}
.banner-header.break-point-tablet.menu-state-home-hover .menu2,
.banner-header.break-point-tablet.menu-state-menu-hover .menu2,
.banner-header.break-point-tablet.menu-state-menu-active .menu2 {
  align-items: flex-end;
}
.banner-header.break-point-tablet .icon-hamburger-hover-focus-lg-1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 54px;
  height: auto;
  position: relative;
  overflow: visible;
}
.banner-header.break-point-tablet .icon-close-default-lg-1,
.banner-header.break-point-tablet .icon-close-hover-lg-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 54px;
  height: auto;
  position: relative;
  overflow: visible;
}
.banner-header.break-point-tablet .drop-down-touch-menu {
  background: var(--secondary, #eceeef);
  border-radius: 8px;
  padding: 20px 128px 20px 64px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 192px;
  top: 68.23px;
  box-shadow: var(
    --shadow-subtle-box-shadow,
    4px 4px 12px 0px rgba(0, 0, 0, 0.1)
  );
  overflow: hidden;
}
.banner-header.break-point-tablet .menu-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.banner-header.break-point-tablet .menu-heading {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.banner-header.break-point-tablet .navigation {
  padding: 8px 0px 8px 0px;
  align-items: flex-start;
  align-self: unset;
}
.banner-header.break-point-tablet .h-2,
.banner-header.break-point-mobile .h-2 {
  color: var(--menudrop, #1b1464);
  text-align: left;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.banner-header.break-point-tablet .navigation2 {
  padding: 8px 0px 8px 0px;
  align-items: flex-start;
  min-height: 44px;
}
.banner-header.break-point-tablet .h-4,
.banner-header.break-point-mobile .h-42 {
  color: var(--menudrop, #1b1464);
  text-align: left;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 21px;
  line-height: 30.5px;
  font-weight: 400;
  position: relative;
}
.banner-header.break-point-tablet .menu-heading2 {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  min-height: 44px;
  position: relative;
}
.banner-header.break-point-tablet .menu-heading3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  min-height: 44px;
  position: relative;
}
.banner-header.break-point-mobile {
  width: 100%;
  max-width: 767px;
  align-self: unset;
  min-width: unset;
}
.banner-header.break-point-mobile.menu-state-default,
.banner-header.break-point-mobile.menu-state-home-hover {
  justify-content: space-between;
  gap: unset;
}
.banner-header.break-point-mobile ._1150 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  height: 125px;
  position: relative;
}
.banner-header.break-point-mobile.menu-state-default ._1150,
.banner-header.break-point-mobile.menu-state-home-hover ._1150 {
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.banner-header.break-point-mobile .logo {
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  width: 125px;
  height: 62px;
  aspect-ratio: 125/62;
  overflow: unset;
}
.banner-header.break-point-mobile .purposeful-media-logo-white-mobile-1-1 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 126px;
  height: auto;
  position: relative;
  overflow: visible;
}
.banner-header.break-point-mobile .menu {
  gap: 0px;
  flex-shrink: 0;
  padding: unset;
  flex: unset;
}
.banner-header.break-point-mobile .icon-hamburger-hover-med-1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  height: auto;
  position: relative;
  overflow: visible;
}
.banner-header.break-point-mobile.menu-state-menu-active {
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: unset;
}
.banner-header.break-point-mobile.menu-state-menu-active ._1150,
.banner-header.break-point-mobile.menu-state-menu-hover ._1150 {
  background: var(--brand, #1b1464);
  border-style: solid;
  border-color: var(--accent, #d4af37);
  border-width: 0px 0px 4px 0px;
  padding: 31.22px 0px 0px 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
}
.banner-header.break-point-mobile .icon-close-default-med-1,
.banner-header.break-point-mobile .icon-close-hover-med-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  height: auto;
  position: relative;
  overflow: visible;
}
.banner-header.break-point-mobile .accordion {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.banner-header.break-point-mobile .menu3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 380px;
  position: relative;
}
.banner-header.break-point-mobile .drop-down-touch-menu {
  padding: 20px 16px 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.banner-header.break-point-mobile.menu-state-menu-active .drop-down-touch-menu {
  background: var(--secondary, #eceeef);
}
.banner-header.break-point-mobile .menu-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.banner-header.break-point-mobile.menu-state-menu-active .menu-list {
  gap: 20px;
}
.banner-header.break-point-mobile .menu-heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.banner-header.break-point-mobile .navigation {
  align-items: flex-start;
  min-height: 44px;
  align-self: unset;
}
.banner-header.break-point-mobile .h-4 {
  text-align: left;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 21px;
  line-height: 30.5px;
  font-weight: 400;
  position: relative;
}
.banner-header.break-point-mobile.menu-state-menu-active .h-4 {
  color: var(--menudrop, #1b1464);
}
.banner-header.break-point-mobile .navigation2 {
  align-items: flex-start;
  height: 44px;
}
.banner-header.break-point-mobile.menu-state-menu-hover {
  background: var(--brand, transparent);
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: unset;
}
.banner-header.menu-state-menu-hover .drop-down-touch-menu {
  background: var(--100, #f4ebcd);
}
.banner-header.menu-state-menu-hover .h-4 {
  color: var(--hoverdrop, #1d50de);
  text-decoration: underline;
}
